// text
p.content {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

// headers
h1,
h2, 
h3, 
h4 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Work+Sans');
}