<div class="items">
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?startup">
        <div class="item__details">
            <h2>Praesent vel augue euismod</h2>
            <p class="item__desc content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</p>
        </div>
    </div>
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?healthcare">
        <div class="item__details">
            <h2>Nulla non lobortis lacus</h2>
            <p class="item__desc content">Vestibulum cursus sed ipsum venenatis auctor. Nulla dignissim dolor elit, ac suscipit arcu pretium ut. </p>
        </div>
    </div>
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?home">
        <div class="item__details">
            <h2>Ipsum sed sint doloremque</h2>
            <p class="item__desc content">Nullam commodo at ipsum non pretium. In hac habitasse platea dictumst.</p>
        </div>
    </div>
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?education">
        <div class="item__details">
            <h2>Vivamus vulputate arcu mollis ultrices </h2>
            <p class="item__desc content">Suspendisse libero nunc, facilisis eget nunc ultrices, consectetur sagittis dui. Integer posuere tortor justo.</p>
        </div>
    </div>
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?renovation">
        <div class="item__details">
            <h2>Fusce facilisis arcu eu risus </h2>
            <p class="item__desc content">Nullam eget massa laoreet, viverra urna nec, congue purus. Donec sapien eros, pretium vel velit et, facilisis suscipit mauris. </p>
        </div>
    </div>
    <div class="item">
        <img class="item__image" src="https://source.unsplash.com/random/300x300?investment">
        <div class="item__details">
            <h2>Nullam eget massa laoreet</h2>
            <p class="item__desc content">Morbi id ultricies lectus. Mauris metus nisl, lacinia sit amet porttitor id, gravida vel diam.</p>
        </div>
    </div>
    <div class="item">
            <img class="item__image" src="https://source.unsplash.com/random/300x300?oldbuildings">
            <div class="item__details">
                <h2>Suspendisse libero nunc</h2>
                <p class="item__desc content">Facilisis eget nunc ultrices, consectetur sagittis dui. Integer posuere tortor justo, vivamus vulputate arcu mollis ultrices</p>
            </div>
        </div>
        <div class="item">
            <img class="item__image" src="https://source.unsplash.com/random/300x300?furnitures">
            <div class="item__details">
                <h2>Nullam eget massa laoreet</h2>
                <p class="item__desc content">Fusce facilisis arcu eu risus, viverra urna nec, congue purus. Donec sapien eros, pretium vel velit et, facilisis suscipit mauris. </p>
            </div>
        </div>
        <div class="item">
            <img class="item__image" src="https://source.unsplash.com/random/300x300?oldcar">
            <div class="item__details">
                <h2>Morbi id ultricies lectus</h2>
                <p class="item__desc content">Mauris metus nisl, lacinia sit amet porttitor id, gravida vel diam.</p>
            </div>
        </div>
</div>